// Intro section
%introImageSpec {
    position: absolute;
    left: 0;
    float: left;
    width: 49%;
}

%introImageSpec2 {
    position: absolute;
    right: 0;
    float: right;
    width: 49%;
}
