#features{
    min-width: 100%;
    padding: 100px;
    // margin-top: 50px;
    // margin-bottom: 50px;
    background-color: $bg-color;
    
    .container-features{
        width: 1140px;

        .title{
            h2{
                font-weight: 400;
                font-size: 28px;
                color: $heading-color;
                letter-spacing: 1.5px;
                line-height: 35px;
                margin-bottom: 20px;
            }
        }
        .content{
            p{
                color: $paragraph-color;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }

        .about-body-row{
            // margin-top: 50px;
            
            .features-card{
                padding: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: $white-color;
                box-shadow: 0 2px 48px 0 rgb(227, 227, 227 / 1%);
                transition: all 0.4s ease;
                cursor: pointer;
                border-radius: 5px;
                // height: 200px !important;
                .icon{
                    position: relative;
                    border-radius: 100%;
                    height: 67px;
                    width: 67px;
                    margin: auto;
                    margin-bottom: 20px;
                    line-height: 70px;
                    background-color: $icon-color;
                    transition: all 0.4s ease;

                    i{
                        font-size: 20px;
                        color: $base-color;
                        position: relative;
                        
                    }
                }
                h5{
                    font-weight: 400;
                    font-size: 16px;
                    color: $heading-color;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                p{
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    display: inline-block;
                    position: relative;
                    z-index: 10;
                    color: $paragraph-color;
                }

                &:hover .icon{
                    background-color: $white-color
                }
                &:hover{
                    background-color: $base-color;
                }
                &:hover h5{
                color: $white-color;;
                }
                &:hover p{
                    color: $white-color;
                }

            }
        }
    }
}

@media screen and(max-width:992px) {
    #features{
        min-width: 100% !important;
    
        .container-features{
            width: 100% !important;
        }
    }
}

@media screen and(max-width:776px) {
    #features{
        min-width: 100% !important;
    
        .container-features{
            width: 100% !important;
        }
    }
}
@media screen and(max-width:576px) {
    #features{
        min-width: 100% !important;
    
        .container-features{
            width: 100% !important;
        }
    }
}