#intro {
    min-width: 100%;
    padding-top: 130px;
    padding-bottom: 100px;

    .intro-container {
        width: 1140px;

        h1 {
            font-size: 28px;
            margin-bottom: 18px;
            color: $intro-text-color;
            width: 90%;
            font-weight: 400;

            span {
                color: $base-color;
            }

        }

        p {
            color: $intro-paragraph-color;
            margin-bottom: 35px;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 1px;
        }

        a#intro-btn {
            @include introButton;

            &:hover {
                background-color: rgb(27, 27, 124);
            }
        }

        // Card part start

        .cards {
            height: 543px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1);
            }

            .card {
                overflow: hidden;
                transition: all 0.5;
                cursor: pointer;

                &.image-1 {
                    @extend %introImageSpec;
                    height: 332px;
                }

                &.image-2 {
                    @extend %introImageSpec2;
                    height: 251px;
                }

                &.image-3 {
                    @extend %introImageSpec;
                    bottom: 0;
                    height: 190px;

                    .video-icon {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 1000;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            color: $white-color;
                            opacity: 0.9;
                            font-size: 40px;
                            padding: 10px;
                            border-radius: 50%;
                            border: 1px solid $white-color;
                        }
                    }
                }


                &.image-4 {
                    @extend %introImageSpec2;
                    height: 281px;
                    bottom: 0;

                    .image-4-about {
                        @include introMixinForContent;

                        span {
                            align-self: flex-start;
                        }

                        p {
                            color: $white-color;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 111;
                        height: 100%;
                        width: 100%;
                        background-color: $base-color;
                        opacity: 0.7;
                    }
                }

                &:hover img {
                    transform: scale(1.1);
                }
            }
        }
    }
}


// Rsponsibilty for intro section

@media screen and(max-width:992px) {
    
    #intro{
        width: 100% !important;


    .intro-container {
        width: 100% !important;

       .intro-title{
           text-align: center;
           align-items: center;
           justify-content: center;
       }
        .cards{
            margin-top: 20px;
        }
    }
    }

}
@media screen and(max-width:576px) {
    
    #intro{
        width: 100% !important;


    .intro-container {
        width: 100% !important;

       .intro-title{
           text-align: center;
           align-items: center;
           justify-content: center;
       }
        .cards{
            margin-top: 20px;
        }
    }
    }

}

