#parallax-counter {
    background-image: url(../images/parallax.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-width: 100%;
    min-height: 300px;
    overflow: hidden;

        &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: $base-color;
        z-index: 0;
        opacity: 0.8;
    }

    .parallax-container{
        width: 1140px;
    }


    .parallax-item{
        // for responsibilty
        position: relative;
        transition: all  0.3s ease;
        overflow: hidden;
        
        .counter{
            display: block;
            text-align: center;
            font-weight: 400;
            font-size: 40px;
            letter-spacing: 1.2px;
            margin-bottom: 15px;
            color: $white-color;
            margin-top: 70px;

                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 120px !important;
                        left:0px;
                        right:0px;
                        top: 70%;
                        margin: auto;
                        border-top: 1px dashed $white-color;
                        z-index: 100;
                       
                    }
        }
        .info{
            display: block;
            color: $white-color;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
        }
        &:hover{
            transform: translateY(-10%);
        }
    }
}

@media  screen and(max-width:576px) {
    #parallax-counter {
        background-attachment: fixed !important;
        background-position: center !important;
        min-width: 100% !important;
    
            &::before {
            top: 0% !important;
            left: 0% !important;
            width: 100% !important;
            min-width: 100% !important;
        }
    
        .parallax-container{
            width: 100% !important;
        }
    }
}
    