#parallax {
    height: 35vh;
    position: relative;
    min-width: 100%;
    background-image: url(../images/parallax.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    left: 0;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $base-color;
        z-index: 11;
        opacity: 0.9;
    }

    .parallax-body {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 40px;
        position: relative;
        z-index: 50;
        p {
            color: $white-color;
            font-weight: 400;
            font-size: 22px;
            letter-spacing: 1px;

            span {
                text-decoration: underline;
            }
        }

        .parallax-btn {
            position: relative;
            top: 20px;
            padding: 10px 30px;
            background-color: $white-color;
            text-decoration: none;
            color: $base-color;
            border-radius: 5px;
        }
    }
}

// Responsibilty

@media screen and(max-width:481px) {
 #parallax{
     min-width:100% !important;
     
     .parallax-body{
        margin:0 !important;
        .parallax-btn{
            top: 0px;
        }
    }
 }
}