@mixin introButton {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: $base-color;
    width: 140px;
    height: 40px;
    color: $white-color;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    letter-spacing: 0.4px;
}

@mixin introMixinForContent {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 115;
    color: $white-color;
    font-size: 20px;
}

@mixin serviceDisplayFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin  serviceButton {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    height: 40px;
    background: $white-color;
    box-shadow: 0 2px 48px 0 rgb(227, 227, 227 / 1%);
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    margin: auto;
}