.intro-row .intro-content .cards .card.image-1, .intro-row .intro-content .cards .card.image-3 {
  position: absolute;
  left: 0;
  float: left;
  width: 49%;
}

.intro-row .intro-content .cards .card.image-2, .intro-row .intro-content .cards .card.image-4 {
  position: absolute;
  right: 0;
  float: right;
  width: 49%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  overflow: auto;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.navigation-row {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.navigation-row .navigation-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
  height: 70px;
}

.navigation-row .navigation-col .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 50px;
}

.navigation-row .navigation-col .nav-links li {
  list-style: none;
  position: relative;
  z-index: 100;
  padding: 0px 30px 0px 20px;
  background-color: white;
}

.navigation-row .navigation-col .nav-links li a {
  text-decoration: none;
  font-size: 14px;
  color: #6F8BA4;
  font-weight: 400;
  letter-spacing: 1.1px;
}

.navigation-row .navigation-col .nav-links li a i {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 10px;
}

.navigation-row .navigation-col .nav-links li ul.dropdown {
  position: absolute;
  width: 200px;
  left: 15%;
  top: 100%;
  padding: 0;
  margin-top: 3px;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 28px 0 rgba(22, 20, 20, 0.06);
          box-shadow: 0 2px 28px 0 rgba(22, 20, 20, 0.06);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-12%);
          transform: translateY(-12%);
}

.navigation-row .navigation-col .nav-links li ul.dropdown li {
  padding: 7px;
  margin: 0;
  border-bottom: 1px solid #f5f5f5;
  border-left: 0px solid #585CE9;
  -webkit-transition: border-left 0.3s ease;
  transition: border-left 0.3s ease;
  cursor: pointer;
}

.navigation-row .navigation-col .nav-links li ul.dropdown li a {
  font-weight: 400;
  margin-left: 10px;
  font-size: 14px;
  position: relative;
  color: #3B566E;
}

.navigation-row .navigation-col .nav-links li ul.dropdown li:first-child {
  border-left: 0px solid #585CE9;
  -webkit-transition: border-left 0.3s ease;
  transition: border-left 0.3s ease;
  border-top-left-radius: 5px;
}

.navigation-row .navigation-col .nav-links li ul.dropdown li:last-child {
  border-left: 0px solid #585CE9;
  -webkit-transition: border-left 0.3s ease;
  transition: border-left 0.3s ease;
  border-bottom-left-radius: 5px;
}

.navigation-row .navigation-col .nav-links li ul.dropdown li:hover {
  background-color: #f5f5f5;
  border-left: 4px solid #585CE9;
}

.navigation-row .navigation-col .nav-links li:hover ul.dropdown {
  overflow: visible;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.navigation-row .navigation-col .menu-icon {
  display: none;
}

.navigation-row .navigation-col .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 25px 0px;
}

.navigation-row .navigation-col .buttons li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-row .navigation-col .buttons li a {
  text-decoration: none;
  border: 1px solid #585CE9;
  padding: 5px 27px;
  border-radius: 5px;
  color: #585CE9;
  font-weight: 500;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 35px;
  font-size: 14px;
  margin-left: 10px;
}

.navigation-row .navigation-col .buttons li:last-child a {
  background-color: #585CE9;
  color: white;
}

.navigation-row .navigation-col .buttons li:hover a {
  color: white;
  background-color: #585CE9;
}

.navigation-row .navigation-col .buttons li:last-child:hover a {
  color: #585CE9;
  background-color: white;
}

@media screen and (max-width: 992px) {
  .menu-icon {
    display: block !important;
    position: absolute;
    right: 50px;
    cursor: pointer;
  }
  .menu-icon i {
    font-size: 30px;
  }
  .logo {
    position: absolute;
    left: 50px;
  }
  .nav-links {
    position: fixed;
    z-index: 100;
    top: 10%;
    left: -50px;
    right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    display: none !important;
  }
  .nav-links.active {
    display: block !important;
  }
  .nav-links li {
    position: absolute;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
  }
  .nav-links li:hover {
    background-color: #f5f5f5;
  }
  .nav-links li ul.dropdown {
    display: none !important;
  }
  .nav-links li a {
    border: none;
    height: 50px !important;
    line-height: 50px !important;
  }
  .buttons {
    display: none !important;
  }
}

.intro-row {
  width: 1140px;
  height: 543px;
  margin: 0;
  padding: 0;
  margin-top: 130px;
}

.intro-row .intro-title {
  height: 543px;
}

.intro-row .intro-title h1 {
  font-size: 28px;
  margin-bottom: 18px;
  color: #1E3056;
  width: 90%;
  font-weight: 400;
}

.intro-row .intro-title h1 span {
  color: #585CE9;
}

.intro-row .intro-title p {
  color: #697BA2;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.intro-row .intro-title #intro-btn {
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #585CE9;
  width: 140px;
  height: 40px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.4px;
}

.intro-row .intro-title #intro-btn:hover {
  background-color: #1b1b7c;
}

.intro-row .intro-content {
  padding: 0;
  margin: 0;
}

.intro-row .intro-content .cards {
  height: 543px;
  position: relative;
  overflow: hidden;
}

.intro-row .intro-content .cards img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.intro-row .intro-content .cards .card {
  overflow: hidden;
  -webkit-transition: all 0.5;
  transition: all 0.5;
  cursor: pointer;
}

.intro-row .intro-content .cards .card.image-1 {
  height: 332px;
}

.intro-row .intro-content .cards .card.image-2 {
  height: 251px;
}

.intro-row .intro-content .cards .card.image-3 {
  bottom: 0;
  height: 190px;
}

.intro-row .intro-content .cards .card.image-3 .video-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-row .intro-content .cards .card.image-3 .video-icon i {
  color: white;
  opacity: 0.9;
  font-size: 40px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.intro-row .intro-content .cards .card.image-4 {
  height: 281px;
  bottom: 0;
}

.intro-row .intro-content .cards .card.image-4 .image-4-about {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 115;
  color: white;
  font-size: 20px;
}

.intro-row .intro-content .cards .card.image-4 .image-4-about span {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.intro-row .intro-content .cards .card.image-4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  height: 100%;
  width: 100%;
  background-color: #585CE9;
  opacity: 0.7;
}

.intro-row .intro-content .cards .card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .intro-row {
    margin: 0;
    padding: 0;
  }
  .intro-row .intro-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .intro-row .intro-content {
    padding: 0px 20px 0 20px;
  }
}

@media screen and (max-width: 481px) {
  .intro-row {
    margin: 0;
    padding: 0;
  }
  .intro-row .intro-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    text-align: center;
    margin: 0 0 20px;
    padding: 0;
  }
}

.features-row {
  width: 1140px;
  height: 289px;
  margin-top: 100px;
}

.features-row .features-card {
  padding: 0;
  margin: 0;
  width: 85%;
  height: 260px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 #e3e3e3;
          box-shadow: 0 2px 48px 0 #e3e3e3;
  cursor: pointer;
}

.features-row .features-card .heading {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
}

.features-row .features-card .card-text {
  font-size: 14px;
  font-weight: 400;
  color: #6F8BA4;
}

.features-row .features-card .icon {
  margin-top: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.features-row .features-card .icon i {
  position: absolute;
  color: #585CE9;
  border: 0px solid #585CE9;
  background-color: #F7FAFD;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 99;
}

.features-row .features-card:hover {
  background-color: #585CE9;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.features-row .features-card:hover .heading {
  color: white;
}

.features-row .features-card:hover .card-text {
  color: white;
}

@media screen and (max-width: 992px) {
  .features-row {
    padding: 0;
    margin: 0;
    margin-top: 600px;
  }
  .features-row .features-card {
    margin: 10px 10px;
  }
}

#services {
  min-width: 100%;
  padding: 100px 0 50px;
  background-color: #F7FAFD;
}

#services .services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .services-container .services-row {
  width: 1440px;
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .services-container .services-row .services-heading {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .services-container .services-row .services-heading h2 {
  font-weight: 400;
  font-size: 28px;
  color: #3B566E;
  margin-bottom: 35px;
}

#services .services-container .services-row .services-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #6f8ba4;
  margin-bottom: 35px;
}

#services .services-container .services-row .content .service-btn {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  height: 40px;
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 #e3e3e3;
          box-shadow: 0 2px 48px 0 #e3e3e3;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#services .services-container .services-row .content .service-btn i.active {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 15px 30px;
  color: black;
  -webkit-clip-path: polygon(0% 0%, 51% 0, 73% 46%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 51% 0, 73% 46%, 100% 100%, 0% 100%);
  background-color: #585CE9;
}

#services .services-container .services-row .content .service-btn i {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 15px 30px;
  color: black;
  font-size: 12px;
  -webkit-clip-path: polygon(0% 0%, 51% 0, 73% 46%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 51% 0, 73% 46%, 100% 100%, 0% 100%);
  background-color: #F7FAFD;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

#services .services-container .services-row .content .service-btn span {
  position: absolute;
  left: 100px;
  top: 0;
  color: #3B566E;
  font-weight: 400;
  font-size: 16px;
}

#services .services-container .services-row .content .service-btn:hover i {
  background-color: #585CE9;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  color: white;
}

#services .services-container .services-row .services-image {
  width: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #services {
    max-width: 100%;
    padding: 0;
    margin-top: 200px !important;
  }
  #services .services-row {
    min-width: 100% !important;
    min-height: 100% !important;
    margin-top: 200px !important;
  }
  #services .services-row .services-heading {
    min-width: 100% !important;
    min-height: 100% !important;
  }
  #services .services-row .services-image {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}

@media screen and (min-width: 556px) and (max-width: 770px) {
  #services {
    min-width: 100%;
    padding: 0;
    margin-top: 500px !important;
  }
  #services .services-row {
    min-width: 100% !important;
    min-height: 100% !important;
    margin-top: 400px !important;
  }
  #services .services-row .services-heading {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}

@media screen and (max-width: 555px) {
  #services {
    min-width: 100%;
    padding: 0;
    margin-top: 500px !important;
  }
  #services .services-row {
    min-width: 100% !important;
    min-height: 100% !important;
    margin-top: 400px !important;
  }
  #services .services-row .services-heading {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}

#design-development {
  min-width: 100%;
  padding: 100px 0 50px;
  margin-top: 100px;
}

#design-development .design-development-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#design-development .design-development-container .design-development-row {
  width: 1140px;
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#design-development .design-development-container .design-development-row .design-heading {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#design-development .design-development-container .design-development-row .design-heading h2 {
  font-weight: 400;
  font-size: 28px;
  color: #3B566E;
  margin-bottom: 35px;
}

#design-development .design-development-container .design-development-row .design-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #6f8ba4;
  margin-bottom: 35px;
}

#design-development .design-development-container .design-development-row .content .design-btn {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  height: 40px;
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 #e3e3e3;
          box-shadow: 0 2px 48px 0 #e3e3e3;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#design-development .design-development-container .design-development-row .content .design-btn i.active {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 15px 30px;
  color: black;
  -webkit-clip-path: polygon(0% 0%, 51% 0, 73% 46%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 51% 0, 73% 46%, 100% 100%, 0% 100%);
  background-color: #585CE9;
}

#design-development .design-development-container .design-development-row .content .design-btn i {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 15px 30px;
  color: black;
  font-size: 12px;
  -webkit-clip-path: polygon(0% 0%, 51% 0, 73% 46%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 51% 0, 73% 46%, 100% 100%, 0% 100%);
  background-color: #F7FAFD;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

#design-development .design-development-container .design-development-row .content .design-btn span {
  position: absolute;
  left: 100px;
  top: 0;
  color: #3B566E;
  font-weight: 400;
  font-size: 16px;
}

#design-development .design-development-container .design-development-row .content .design-btn:hover i {
  background-color: #585CE9;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  color: white;
}

#design-development .design-development-container .design-development-row .design-image {
  width: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #design-development {
    max-width: 100%;
    padding: 0;
    margin-top: 200px !important;
  }
  #design-development .design-development-row {
    min-width: 100% !important;
    min-height: 100% !important;
    margin-top: 200px !important;
  }
  #design-development .design-development-row .dsign-heading {
    min-width: 100% !important;
    min-height: 100% !important;
  }
  #design-development .design-development-row .design-image {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}

@media screen and (min-width: 556px) and (max-width: 770px) {
  #design-development {
    min-width: 100%;
    padding: 0;
    margin-top: 130px !important;
  }
  #design-development .design-development-row {
    min-width: 100% !important;
    min-height: 100% !important;
    margin-top: 350px !important;
  }
  #design-development .design-development-row .design-heading {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}

@media screen and (max-width: 555px) {
  #design-development {
    min-width: 100%;
    padding: 0;
    margin-top: 200px !important;
  }
  #design-development .design-development-row {
    min-width: 100% !important;
    min-height: 100% !important;
    margin-top: 200px !important;
  }
  #design-development .design-development-row .design-heading {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}

#parallax-counter {
  background-image: url(../images/parallax.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
  margin-top: 100px;
  min-width: 100%;
}

#parallax-counter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: #585CE9;
  z-index: 10;
  opacity: 0.8;
}

#parallax-counter .parallax-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#parallax-counter .parallax-container .parallax-row {
  width: 1140px;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#parallax-counter .parallax-container .parallax-row .parallax-item {
  height: 280px;
  position: relative;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#parallax-counter .parallax-container .parallax-row .parallax-item .counter {
  font-size: 40px;
  color: white;
  font-weight: 400;
  position: relative;
}

#parallax-counter .parallax-container .parallax-row .parallax-item .counter::after {
  content: '';
  position: absolute;
  width: 120px !important;
  left: -38px;
  top: 70px;
  z-index: 100;
  height: 2px;
  border-top: 1px dashed white;
}

#parallax-counter .parallax-container .parallax-row .parallax-item:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#parallax-counter .parallax-container .parallax-row .info {
  margin-top: 20px;
  font-size: 26px;
  color: white;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  #parallax-counter {
    min-width: 100% !important;
    margin-top: 500px;
    min-height: 100% !important;
  }
  #parallax-counter .parallax-row {
    min-height: 100% !important;
    min-width: 100% !important;
  }
  #parallax-counter .parallax-row .parallax-item {
    height: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 770px) {
  #parallax-counter {
    min-width: 100% !important;
    margin-top: 600px !important;
    min-height: 100vh !important;
    overflow: hidden;
  }
  #parallax-counter::before {
    width: 100%;
    height: 100vh !important;
  }
}

#teams {
  padding-top: 80px;
  padding-bottom: 80px;
  min-width: 100%;
}

#teams .container-teams {
  width: 1140px;
}

#teams .container-teams .heading h2 {
  color: #3B566E;
  font-weight: 400;
  margin: 0 0 20px;
}

#teams .paragraph {
  color: #6f8ba4;
  font-weight: 400;
  margin-bottom: 40px;
  letter-spacing: 0.6px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}

#teams .item-col .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 2px 48px 0 #e3e3e3;
          box-shadow: 0 2px 48px 0 #e3e3e3;
  border-radius: 5px;
}

#teams .item-col .item .team-content {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
  height: 68px;
  z-index: 1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#teams .item-col .item .name {
  font-weight: 400;
  font-size: 16px;
  margin: 5px 0 0;
  position: relative;
  z-index: 11;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

#teams .item-col .item span {
  font-weight: 400;
  font-size: 12px;
  color: #E5E9F7;
  letter-spacing: 0.6px;
  padding-bottom: 20px;
  position: relative;
  z-index: 11;
}

#teams .item-col .social-icons {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  position: relative;
  top: 50px;
  z-index: 13;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#teams .item-col .social-icons li {
  list-style: none;
  padding: 10px;
}

#teams .item-col p {
  margin-top: 70px;
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
  position: relative;
}

#teams .item-col .image {
  overflow: hidden;
  border: 8px solid white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 250px;
  left: 30%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-shadow: 0 2px 48px 0 #e3e3e3;
          box-shadow: 0 2px 48px 0 #e3e3e3;
  z-index: 14;
}

#teams .item-col:hover .image {
  top: 260px;
}

#teams .item-col:hover .team-content {
  height: 130px;
}

#teams .item-col:hover .social-icons i {
  color: white;
}

@media screen and (max-width: 992px) {
  .container-teams .item {
    margin-top: 44px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 576px) {
  #teams {
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 100% !important;
  }
  #teams .container-teams {
    width: 340px !important;
  }
}

#marketing {
  padding: 100px 0 80px;
  min-width: 100%;
  background-color: #F7FAFD;
}

#marketing .container-marketing {
  width: 1140px;
}

#marketing .container-marketing .heading h1 {
  font-weight: 400;
  font-size: 28px;
  color: #3B566E;
}

#marketing .container-marketing .paragraph {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  letter-spacing: 1px;
  line-height: 38px;
}

#marketing .container-marketing .price-item {
  overflow: hidden;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 48px 0 #e3e3e3;
          box-shadow: 0 2px 48px 0 #e3e3e3;
}

#marketing .container-marketing .price-item .price-title {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #F7FAFD;
  height: 130px;
  display: block;
}

#marketing .container-marketing .price-item .price-title.active {
  background-color: #585CE9;
}

#marketing .container-marketing .price-item .price-title.active h2 {
  color: white;
}

#marketing .container-marketing .price-item .price-title h2 {
  color: #3B566E;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  top: 45%;
  letter-spacing: 1.2px;
}

#marketing .container-marketing .price-item .price-body {
  text-align: center;
}

#marketing .container-marketing .price-item .price-body .number {
  position: relative;
  background: #F7FAFD;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: auto;
  margin-top: -25px;
}

#marketing .container-marketing .price-item .price-body .number span {
  position: absolute;
  top: 10px;
  left: 43%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #585CE9;
  z-index: 11;
}

#marketing .container-marketing .price-item .price-body .advertise-group {
  margin-top: 35px;
  margin-bottom: 35px;
}

#marketing .container-marketing .price-item .price-body .advertise-group .currency {
  position: relative;
  top: -20px;
  color: #585CE9;
  font-weight: 600;
  font-size: 16px;
}

#marketing .container-marketing .price-item .price-body .advertise-group .price {
  font-weight: 700;
  font-size: 36px;
  color: #585CE9;
  letter-spacing: 2px;
}

#marketing .container-marketing .price-item .price-body .advertise-group .month {
  font-weight: 700;
  font-size: 14px;
  color: #585CE9;
  letter-spacing: 1px;
}

#marketing .container-marketing .price-item .price-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#marketing .container-marketing .price-item .price-list li {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #3B566E;
  letter-spacing: 1.2px;
}

#marketing .container-marketing .price-item .price-list li.active {
  color: #3B566E;
  text-decoration: none;
}

#marketing .container-marketing .price-button {
  margin-top: 50px;
  margin-bottom: 50px;
}

#marketing .container-marketing .price-button a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #585CE9;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 570px) {
  #marketing .container-marketing {
    width: 340px !important;
  }
}

#parallax {
  height: 35vh;
  position: relative;
  min-width: 100%;
  background-image: url(../images/parallax.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
}

#parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #585CE9;
  z-index: 11;
  opacity: 0.9;
}

#parallax .parallax-body {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  position: relative;
  z-index: 50;
}

#parallax .parallax-body p {
  color: white;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1px;
}

#parallax .parallax-body p span {
  text-decoration: underline;
}

#parallax .parallax-body .parallax-btn {
  position: relative;
  top: 20px;
  padding: 10px 30px;
  background-color: white;
  text-decoration: none;
  color: #585CE9;
  border-radius: 5px;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 481px) {
  #parallax {
    min-width: 100% !important;
  }
  #parallax .parallax-body {
    margin: 0 !important;
  }
  #parallax .parallax-body .parallax-btn {
    top: 0px;
  }
}

#blog {
  padding: 100px 0 70px;
  min-width: 100%;
}

#blog .container-blog {
  width: 1140px;
  text-align: center;
}

#blog .container-blog .title h1 {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 30px;
  color: #3B566E;
}

#blog .container-blog .title .paragraph {
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 30px;
}

#blog .container-blog .blog-item {
  margin-top: 30px;
}

#blog .container-blog .blog-item .image {
  overflow: hidden;
  height: 220px;
}

#blog .container-blog .blog-item .image img {
  width: 351px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}

#blog .container-blog .blog-item .content {
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog .container-blog .blog-item .content h3 {
  font-size: 16px;
  font-weight: 400;
  color: #3B566E;
  line-height: 26px;
  cursor: pointer;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

#blog .container-blog .blog-item .content h3:hover {
  color: #585CE9;
}

#blog .container-blog .blog-item .content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #6f8ba4;
  margin: 15px 10px;
}

#blog .container-blog .blog-item .content a {
  padding: 10px 35px;
  background-color: #585CE9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#blog .container-blog .blog-item .content a:hover {
  color: white;
  background-color: #4146e6;
}

@media screen and (max-width: 767px) {
  #blog {
    min-width: 100% !important;
  }
  #blog .container-blog {
    width: 100% !important;
    text-align: center;
  }
  #blog .container-blog .image {
    overflow: hidden;
    min-height: 100% !important;
    min-width: 100% !important;
  }
  #blog .container-blog .blog-item {
    margin-top: 30px;
  }
}

footer {
  background-color: #585CE9;
  padding: 70px 0 0;
}

footer a {
  text-decoration: none;
  color: #E5E9F7;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .container-footer {
  width: 1140px;
}

footer .container-footer .info img {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer .container-footer .info .paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #E5E9F7;
}

footer .container-footer h5 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.6px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #E5E9F7;
}

footer .container-footer ul.navigation li a {
  font-size: 14px;
  font-weight: 300;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .container-footer ul.navigation li a span {
  margin-left: 8px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .container-footer ul.navigation li a:hover span {
  margin-left: 13px;
}

footer .container-footer .contact {
  margin-bottom: 20px;
}

footer .container-footer .contact p {
  color: #E5E9F7;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  margin-top: 2px;
}

footer .container-footer ul.social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container-footer ul.social-items li {
  margin-right: 10px;
}

footer .container-footer .copyright {
  text-align: center;
  border-top: 1px solid #777BFF;
  margin-top: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #E5E9F7;
  padding: 30px 0px;
}

@media screen and (max-width: 576px) {
  footer .container-footer {
    width: 100% !important;
  }
  footer .container-footer h5 {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

#contact {
  background-image: url(/assets/images/parallax-cover-contact.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 80px !important;
  min-height: 40vh;
  position: relative;
}

#contact::before {
  content: "";
  top: 0;
  left: 0;
  background-color: #585CE9;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
}

#contact .container-contact {
  width: 1140px;
}

#contact .container-contact .content {
  margin-top: 150px;
  z-index: 11;
}

#contact .container-contact .content h1 {
  color: white;
  font-weight: 400;
  font-size: 34px;
  height: 50px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}

#contact .container-contact .content h1::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  z-index: 11;
  left: 49.5%;
  bottom: 0;
  background-color: white;
}

#contact .container-contact .content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#contact .container-contact .content ul li {
  margin-bottom: 50px;
  display: inline-block;
  margin-left: 10px;
}

#contact .container-contact .content ul li a {
  text-decoration: none;
  color: #E5E9F7;
  font-weight: 400;
  font-size: 14px;
}

#contact .container-contact .content ul li a i {
  margin-left: 5px;
}

@media screen and (max-width: 576px) {
  #contact {
    min-width: 100% !important;
    margin-top: 80px !important;
    min-height: 40vh !important;
  }
  #contact::before {
    width: 100% !important;
    height: 100% !important;
  }
  #contact .container-contact {
    width: 100% !important;
  }
}

#area {
  min-width: 100% !important;
}

#area .container-area {
  margin-top: 50px;
  width: 1140px;
}

#area .container-area iframe {
  width: 100%;
}

#area .container-area .contact-info {
  background-color: #585CE9;
  min-height: 180px !important;
  max-height: 600px !important;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  margin-top: -80px;
  z-index: 12;
  position: relative;
}

#area .container-area .contact-info .contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-left: 40px;
}

#area .container-area .contact-info .contact-body .contact-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#area .container-area .contact-info .contact-body .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#area .container-area .contact-info .contact-body .contact-item i {
  margin-right: 8px;
  margin-top: 5px;
  color: white;
  font-size: 16px;
}

#area .container-area .contact-info .contact-body .contact-item span {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

#area .container-area .contact-info .social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  margin-top: 50px;
}

#area .container-area .contact-info .social-icons li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#area .container-area .contact-info .social-icons li i {
  font-size: 22px;
  color: white;
  margin-left: 5px;
  z-index: 11;
}

@media screen and (max-width: 992px) {
  .contact-info {
    margin: 0 !important;
    min-height: 100% !important;
    min-width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  #area {
    min-width: 100% !important;
  }
  #area .container-area {
    margin-top: 60px;
    width: 100% !important;
  }
  #area .container-area iframe {
    width: 100% !important;
  }
  #area .container-area .contact-info {
    height: 100% !important;
    margin: 0 !important;
  }
  #area .container-area .contact-info .contact-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #area .container-area .contact-info .contact-body .contact-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #area .container-area .social-icons {
    margin: 0px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
}

#form {
  width: 100% !important;
  padding: 80px 0 80px 0;
}

#form .container-form {
  width: 1140px;
}

#form .container-form h5 {
  font-size: 22px;
  color: #3B566E;
  font-weight: 400;
}

#form .container-form .text {
  font-weight: 400;
  font-size: 14px;
  color: #6f8ba4;
  line-height: 26px;
}

#form .container-form .contact-form input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

#form .container-form .contact-form textarea {
  width: 100%;
  height: 130px;
  margin-top: 20px;
}

#form .container-form .contact-form .contact-btn {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #585CE9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#form .container-form .contact-form .contact-btn a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

#form .container-form .contact-form .contact-btn:hover {
  background-color: #4146e6;
}

@media screen and (max-width: 576px) {
  #form {
    min-width: 100% !important;
  }
  #form .container-form {
    width: 100% !important;
  }
}
