#flexbox {
    background-color: $bg-color;
    min-width: 100%;
    padding: 50px !important;

    .container-flexbox {
        width: 1140px;

        .flexbox {
            margin-top: 100px;
            margin-bottom: 50px;
            position: relative;
            float: left;
            width: 100%;

            .flex-box-image {
                position: relative;
                float: right;
                right: 0px;
                width: 70%;
                height: 70%;
                z-index: 6;

                .flex-box-zoom {
                    overflow: hidden;
                    transition: all 0.4s ease;
                    position: relative;

                    img {
                        width: 100%;
                        height: 70%;
                        border-radius: 5px;
                        transform: scale(1);
                    }

                    &:hover img {
                        transform: scale(1.1);
                    }
                }
            }
        }

            .flex-box-content {
                position: absolute;
                width: 40%;
                float: left;
                // right: 0px;
                left: 0px;
                top: 50%;
                background-color: $white-color;
                box-shadow: 0 2px 48px 0 rgb(227, 227, 227 / 1%);
                z-index: 15;
                border-radius: 5px;
                padding: 35px;
                transform: translateY(-50%);
                // padding-bottom: 10px;

                h2 {
                    font-weight: 400;
                    font-size: 26px;
                    color: $heading-color;
                    line-height: 40px;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    color: $paragraph-color;
                    line-height: 30px;
                }
            }

         
    }

}


@media screen and(max-width:992px) {
    #flexbox {
        width: 100% !important;

        .container-flex-box {
            width: 100% !important;

            .flex-box-image{
                width: 100% !important;
                // height: 100% !important;
                margin-bottom: 50px;
            }
            .flex-box-content {
                width: 100% !important;
                position: relative !important;
                top:0% !important;
                right: 0px !important;
                transform: translateY(0%);
                clear: both;
            }
        }
    }
}