$base-color: #585CE9;
$secondary-color:#f5f5f5;
$nav-link-color:#6F8BA4;
$white-color:white;
$intro-text-color:#1E3056;
$intro-paragraph-color:#697BA2;
$heading-color:#3B566E;
$paragraph-color:#6f8ba4;
$black-color:black;
$icon-color:#F7FAFD;
$card-span-color:#E5E9F7;

$bg-color:#F7FAFD;