#contact {
    background-image: url(/assets/images/parallax-cover-contact.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 80px !important;
    min-height: 40vh;
    position: relative;


    &::before{
        content: "";
        top: 0;
        left: 0;
        background-color: $base-color;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.8;
    }

    .container-contact {
        width: 1140px;

        .content {
            margin-top: 150px;
            z-index: 11;
            h1 {
                color: $white-color;
                font-weight: 400;
                font-size: 34px;
                height: 50px;
                line-height: 40px;
                letter-spacing: 1px;
                text-align: center;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 2px;
                    z-index: 11;
                    left: 49.5%;
                    bottom: 0;
                    background-color: $white-color;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin-bottom: 50px;    
                    display: inline-block;
                    margin-left: 10px;

                    a {
                        text-decoration: none;
                        color: $card-span-color;
                        font-weight: 400;
                        font-size: 14px;

                        i {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width:576px){
    
    #contact {
        min-width: 100% !important;
        margin-top: 80px !important;
        min-height: 40vh !important;

        &::before{
            width: 100% !important;
            height: 100% !important;
        }
        .container-contact {
            width: 100% !important;
        }
    }
}